#headingSection {
  background-color: #da22ff;
  top: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.done {
  text-decoration: line-through;
  opacity: 45%;
}
.fa-calendar-times {
  float: right;
  margin-right: 3vmin;
}
.fa-calendar-times:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
h1 {
  text-align: right;
  margin-top: 0;
  padding-right: 30px;
  color: white;
  font-size: 5vmin;
  font-family: "PT Serif Caption";
  margin-bottom: 0;
  background: -webkit-linear-gradient(rgb(211, 191, 191), white, aquamarine);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subheading {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
  color: black;
  margin-top: 0;
}
body {
  /* background-color: blanchedalmond; */
  background-color: blanchedalmond;
  font-family: Rambla;
  font-size: calc(9px + 1.3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
#content {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#listPanel {
  width: 25%;
  height: 850px;
  text-align: center;
  border-top: 5px solid red;
  /* background-color: aquamarine; */
}
#contentPanel {
  width: 75%;
  text-align: center;
}
.secondaryHeading {
  font-family: "PT Serif Caption";
  font-size: 3.5vmin;
}

.project {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.project {
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  text-align: left;
  width: 80%;
  padding: 2vmin;
  font-size: calc(9px + 1.3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 80%;
  cursor: pointer;
  margin: 3% auto;
}

.project:hover {
  opacity: 100%;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.taskName {
  font-size: 1.3em;
}
#addProjectForm {
  display: flex;
  flex-direction: column;
}
.inputText {
  font-size: calc(6px + 1.3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2vmin;
  background-color: transparent;
  color: black;
  width: 80%;
  height: 100%;
  border: none;
  background-color: white;
  border-radius: 50px 0px 0px 50px;
  border: transparent;
}
.inputText::placeholder {
  color: black;
}
#input-project {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50px;
  background-color: red;
  margin-top: 10%;
}
.submits {
  background-color: transparent;
  font-size: 2.3vmin;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 0px 50px 50px 0px;
  border: transparent;
  padding: 1.8vmin;
}

.trash {
  text-align: right;
  margin: 0 10%;
  color: gold;
}
.trash:hover i {
  color: rgb(255, 255, 0);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.taskCard {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.taskTable:nth-child(even) {
  background-color: seashell;
}
.taskTable {
  text-align: left;
  margin-bottom: 6%;
}
.taskDesc {
  opacity: 70%;
}

.taskFormButton {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.taskFormButton {
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  text-align: left;
  width: 25%;
  padding: 2vmin;
  font-size: calc(9px + 1.3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 80%;
  cursor: pointer;
}

.taskFormButton:hover {
  opacity: 100%;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.fa-trash-alt {
  float: right;
}
textarea:focus,
input:focus,
select:focus {
  outline: none;
}
#input-todo {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  align-items: center;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.formPop {
  width: 50%;
  min-width: fit-content;
  flex-direction: column;
  background-color: blanchedalmond;
  height: 55%;
  overflow-y: auto;
  padding-bottom: 3%;
  min-width: 35%;
  max-height: fit-content;
}
.formPop-item {
  margin-bottom: 3%;
  min-width: max-content;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 14%;
  border-radius: 50px;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 2vmin;
  padding-right: 2vmin;
  border: none;
  font-size: calc(9px + 1.3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
}
#input-todo > div > h2 {
  margin-top: 1%;
  padding-top: 0;
  font-size: 32;
  width: 100%;
}
#priority {
  width: 45%;
  padding-left: 1.2vmax;
}
.formPop-btn {
  flex-direction: row;
  margin-bottom: 3%;
  width: 20%;
  height: 14%;
  border-radius: 50px;
  border: none;
  font-size: calc(9px + 1.3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: fit-content;
}

#cancelForm {
  background-image: linear-gradient(
    to right,
    #283048 0%,
    #859398 51%,
    #283048 100%
  );
}
#cancelForm {
  text-align: center;
  text-transform: uppercase;
  transition: 0s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
}
.taskPriority::first-letter {
  text-transform: capitalize;
}

#cancelForm:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#submitForm {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
#submitForm {
  text-align: center;
  text-transform: uppercase;
  transition: 0s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
}

#submitForm:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.low {
  background-color: yellow;
}
.medium {
  background-color: #007700;
  color: white;
}
.high {
  background-color: red;
  color: white;
}
.taskTable {
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

#proj-sort-btn-crowd {
  display: block;
  font-size: 3vmin;
  justify-content: space-around;
  margin: auto;
  justify-content: space-evenly;
}
.sortBtn {
  margin-top: 0;
  background-color: #da22ff;
  justify-content: space-between;
  margin-left: 3%;
  margin-bottom: 30px;
  width: 45%;
  height: 55px;
  font-size: 2.6vmin;
  font-weight: 100;
  color: white;
  border-radius: 5px;
  border: none;
}
@media only screen and (max-width: 600px) {
  .sortBtn {
    width: 90%;
  }
}
.sortBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 2px black;
}
.sortBtn:hover > * {
  transition-duration: 400ms;
  color: white;
  transform: rotate(360deg);
  animation-timing-function: ease-in-out;
}

.secondaryHeading:hover {
  transition-duration: 300ms;
  transform: translateY(-3px);
}
.dateMods {
  color: #da22ff;
  transform: scale(1.2);
}
.dateMods:hover {
  color: #000;
  transform: scale(1.5);
}
th:hover {
  transition-duration: 400ms;
  transform: translateY(-3px);
}

#groupTasks {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.groupBtn {
  background-image: linear-gradient(
    to right,
    #ff4b1f 0%,
    #1fddff 51%,
    #ff4b1f 100%
  );
}
.groupBtn {
  border: none;
  width: 90%;
  padding: 2vmin;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: calc(9px + 1.3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 80%;
  cursor: pointer;
  margin: 3% auto;
  margin-bottom: 0px;
}

.groupBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#votaskTable {
  table-layout: fixed;
  width: 100%;
  overflow: auto;
}
.tdvoTask {
  height: fit-content;
  word-break: break-all;
  overflow: auto;
  white-space: normal;
  text-overflow: clip;
  padding: 8px;
}
#createProject:hover i{
  transition: 300ms ease-in-out;
  animation-name: scaleAnim;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes scaleAnim {
  0%{
    color: white;
  }
  100%{
    transform: rotate(90deg) scale(1.2);
  }
}

